
<app-breadcrumb [iRegion]="iRegion"></app-breadcrumb>

<button class="btn btn-dark" routerLink="/departments" *ngIf="iRegion">
  Voir tous les départements
</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Code</th>
    <th>Code region</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let department of iDepartments" routerLink="/regions/{{department.codeRegion}}/departments/{{department.code}}/cities" class="router-link">
    <td>{{department.nom}}</td>
    <td>{{department.code}}</td>
    <td>{{department.codeRegion}}</td>
  </tr>
  </tbody>
</table>
